input {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 5px;	
}
label {
	font: 16px/18px monospace;
	
}
#name {
	display: inline;
}
.title {
	font-weight: bold;
}
.employeeInfo {
	float: left;
	margin-right: 20px;
}
.container {
	float: left;
}
.employee {
	float: left;
	margin-right: 20px;
}